// Make sure the charset is set appropriately
@charset "UTF-8";

// Core
// The following imports bootstrap the theme.
// The theme will have compilation errors if Foundation is not imported.

// Global Zurb Foundation variable overrides.
@import "base/init";

// Comment out this import if you don't want to use normalize.
@import "../../zurb_foundation/scss/normalize";

// Comment out the imports you don't need below.
@import "../../zurb_foundation/scss/foundation/components/grid";
@import "../../zurb_foundation/scss/foundation/components/accordion";
@import "../../zurb_foundation/scss/foundation/components/alert-boxes";
@import "../../zurb_foundation/scss/foundation/components/block-grid";
@import "../../zurb_foundation/scss/foundation/components/breadcrumbs";
@import "../../zurb_foundation/scss/foundation/components/button-groups";
@import "../../zurb_foundation/scss/foundation/components/buttons";
@import "../../zurb_foundation/scss/foundation/components/clearing";
@import "../../zurb_foundation/scss/foundation/components/dropdown";
@import "../../zurb_foundation/scss/foundation/components/dropdown-buttons";
@import "../../zurb_foundation/scss/foundation/components/flex-video";
@import "../../zurb_foundation/scss/foundation/components/forms";
@import "../../zurb_foundation/scss/foundation/components/icon-bar";
@import "../../zurb_foundation/scss/foundation/components/inline-lists";
@import "../../zurb_foundation/scss/foundation/components/joyride";
@import "../../zurb_foundation/scss/foundation/components/keystrokes";
@import "../../zurb_foundation/scss/foundation/components/labels";
@import "../../zurb_foundation/scss/foundation/components/magellan";
@import "../../zurb_foundation/scss/foundation/components/orbit";
@import "../../zurb_foundation/scss/foundation/components/pagination";
@import "../../zurb_foundation/scss/foundation/components/panels";
@import "../../zurb_foundation/scss/foundation/components/pricing-tables";
@import "../../zurb_foundation/scss/foundation/components/progress-bars";
@import "../../zurb_foundation/scss/foundation/components/range-slider";
@import "../../zurb_foundation/scss/foundation/components/reveal";
@import "../../zurb_foundation/scss/foundation/components/side-nav";
@import "../../zurb_foundation/scss/foundation/components/split-buttons";
@import "../../zurb_foundation/scss/foundation/components/sub-nav";
@import "../../zurb_foundation/scss/foundation/components/switches";
@import "../../zurb_foundation/scss/foundation/components/tables";
@import "../../zurb_foundation/scss/foundation/components/tabs";
@import "../../zurb_foundation/scss/foundation/components/thumbs";
@import "../../zurb_foundation/scss/foundation/components/tooltips";
@import "../../zurb_foundation/scss/foundation/components/top-bar";
@import "../../zurb_foundation/scss/foundation/components/type";
@import "../../zurb_foundation/scss/foundation/components/offcanvas";
@import "../../zurb_foundation/scss/foundation/components/visibility";

// Import our mixins early so they can be used by other partials.
// Optional.
//@import "base/mixins";

// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
// @import "base/common";

// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

// Styling for elements.
// Optional.
// @import "base/elements";

// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/footer";

// Modules
// @import "modules/block";
// @import "modules/button";

// States
// @import "states/collapse";

// Themes
// @import "theme/button-light";

// Older IE support
// @import "vendor/ie";

body {
  header {
    .contain-to-grid {
      border-bottom: 1px solid $base-underline-color;
    }

    nav.top-bar {
      ul.title-area {
        li.name {
          padding: 1rem 1.125rem 1rem .875rem ;

          img.logo {
            display: block;
            height: 60px;
            width: 160px;
          }
        }
      }

      ul {
        &#main-menu { background-color: $white;
          background: url('../images/bg_phone.svg') 100% 100% no-repeat;
          background-size: contain;
          background-position: top left;
          float: left;

          li {
            background: none;

            a {
              background: none;
            }
          }
        }

        li.phone {
          a {
            color: $violet;
            font-weight: bold;
            font-size: 110%;
          }
        }
      }
    }

    // .menu-bg-left-wrapper {
    //   background: url(../images/bg_before_events.svg) no-repeat;
    //   background-color: white;
    //   background-position: top left;
    //   background-size: 120px 55px;
    // }

    // .menu-bg-right-wrapper {
    //   background: url(../images/bg_after_events.svg) no-repeat;
    //   background-position: top right;
    //   background-size: 120px 55px;
    // }

    ul.menu-events {
      li {
        a {
          // font-size: 22px;
          margin-bottom: 0;
        }

        &.menu-441 a {
          background: $tf-red;

          &:hover {
            background: darken($tf-red, 20%);
          }
        }

        &.menu-442 a {
          background: $tf-about-blue;

          &:hover {
            background: darken($tf-about-blue, 20%);
          }
        }

        &.menu-444 a {
          background: $tf-green;


          &:hover {
            background: darken($tf-green, 20%);
          }
        }

        &.menu-445 a {
          background: $tf-orange;

          &:hover {
            background: darken($tf-orange, 20%);
          }
        }
      }
    }
  }

  main {
    padding-bottom: 4rem;

    .wide {
      margin-bottom: 1rem;
    }

    .wrapper {
      border: 1px solid $base-underline-color;
      border-radius: 2px;
      padding: 1rem;
      margin-bottom: 2rem;
    }

    .view-calendar-events {
      &.view-display-id-block_1 {
        border-top: 1px solid $base-underline-color;

        th {
          background: $base-underline-color;
          color: white;
        }

        td {
          padding: .625rem;
        }

        .mini-day-off {
          color: $tf-about-violet;
        }
      }

      &.view-display-id-block_2,
      &.view-display-id-block_3 {
        .wrapper {
          margin-right: 1rem;

          .event-datetime {
            color: $base-text-color;
            font-size:1.125rem;

            .time-default {
              display: inline-block;
            }
          }

          img {
            margin: 1rem 0;
          }

          .event-age-from-wrapper {
            margin:1rem 0;
            text-align: center;


            .event-age-from {
              background: $tf-red;
              color: $white;
              padding-top: 12px;
              border-radius: 50%;
              display: inline-block;
              height: 48px;
              width: 48px;
            }
          }
        }
      }
    }
  }

  footer {
    background: url('../images/bg_footer.png');
    height: $footer-height;

    .footer-top {
      background-color: rgba(255,255,255,0.6);
      height: $footer-height;
      padding-top: 1.5rem;

      h6 {
        color: $base-text-color;
      }

      ul.menu li {
        margin-bottom: 1rem;

        a {
            background: none;
            color: $base-text-color;
            text-shadow: 1px 1px 2px $white;
            font-size: 1.125rem;
            margin: 0;
            padding: 0;
        }
      }

      .social-links {
        a {
          display: inline-block;
          height: 48px;
          width: 48px;
          color: white !important;
          border-radius: 50%;
          margin-right: 1rem;
          padding-top: 8px;
          text-align: center;

          &.facebook {
            background: #3b5997;
          }

          &.vkontakte {
            background: #3c668c;
          }

          &.instagram {
            background: #8c69ae;
          }

          &.twitter {
            background: #60a6da;
          }
        }
      }

      .copyright {
        padding: 2rem 0;
      }
    }

    .footer-bottom {
      background-color: rgba(0, 0, 0, .2);

      a {
        color: $white !important;
        text-shadow: 1px 1px 2px $jet;
      }
    }
  }

  &.front {
    .main {
      .wrapper-events-header {
        img {
          height:100px;
          position: relative;
          z-index: 2;
        }

        h2 {
          color: $base-text-color;
          font-size: 1.25rem;
          text-transform: uppercase;
          background: white;
          border: 1px solid $base-text-color;
          border-radius: 15px;
          margin-bottom: 0;
          padding: 1rem 1.125rem;
          display:inline-block;
          position:relative;
          top: -1rem;
          z-index:1;
        }

        hr {
          border: 0 none;
          height: 1px;
          opacity: .8;
          background-image: linear-gradient(to left,transparent,$base-text-color,transparent);
          position: relative;
          top: -92px;
        }

        // https://css-tricks.com/examples/ShapesOfCSS/
        // http://apps.eky.hk/css-triangle-generator/
        // https://css-tricks.com/snippets/css/css-triangle/
        .triangle {
          content: "";
          width: 0;
          height: 0;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-top: 20px solid $base-text-color;
          position: relative;
        }
      }
    }
  }

  &.not-front {
    main {
      padding-top: 4rem;
    }
  }

  &.node-type-event {
    h1.title {
      color: $tf-red;
    }
    .time-default {
      display: inline;
    }
  }

  &.page-about {
    h2,
    h3 {
      font-family: Verdana;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 15px;
      font-family: Verdana;
      margin-bottom: 2rem;
    }

    .wide {
      margin: 2rem 0;
    }

    .pane-1 {
      h2 {
        font-size: 22px;
        font-family: $body-font-family;
        color: $dark-grey;
      }
    }

    .pane-2 {
      h2,
      h3 {
        text-transform: uppercase;
      }

      p {
        font-size: 18px;
      }
    }

    .pane-3 {
      h2,
      p {
        font-family: $body-font-family;
      }

      .note {
        font-size: 13px;
      }
    }
  }
}

.inline-list > li.grid-masonry-item {
  margin-left: 0;
  margin-bottom: 20px;
}


body {
  .dumb-1200 {
    margin: 0 auto;
    max-width: 1200px;
  }
}

#gallery {
  outline: medium none;
  overflow: auto;
  position: relative;

  .field-name-field-event-gallery {
    width: auto;
    height: 180px;
    overflow-y: hidden;
    white-space: nowrap;

    a {
      img {
        padding-right:.5rem;
        // float: left;
      }
    }
  }
}

.text-violet {
  color: $tf-about-violet;
}

.text-orange {
  color: $tf-orange;
}

.text-red {
  color: $tf-red;
}

.text-green {
  color: $tf-green;
}

.text-blue {
  color: $tf-about-blue;
}

.circus {
  border-radius: 50%;
}

.location-label,
.price-label {
  background: $tf-red;
  color: $white;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  padding-top: .5rem;
  padding-left: .7rem;
  margin-top: .5rem;
  margin-right: 1rem;
}

.event-age-plus {
  background: $tf-red;
  color: $white;
  font-size: 1.25rem;
  width: 3rem;
  height: 3rem;
  padding-top: .7rem;
  margin: 0 auto;
}